<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    {% endblock %}
</head>

<body class="bg-dark">
    <div id="app">

        <header class="d-flex text-white flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none px-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-left-right text-green" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                </svg>
                <span class="fs-3 px-3 text-green">Connekt</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item mx-1"><a href="" :id="[loggedIn ? 'active':'']"
                        @click="window.location.href='http://127.0.0.1:5000/'" class="nav-link text-white">Home</a></li>
                <li class="nav-item mx-1"><a href="#" :id="[loggedIn ? 'active':'']"
                        class="nav-link text-white">Features</a></li>
                <li class="nav-item mx-1"><a href="#" :id="[loggedIn ? 'active':'']"
                        class="nav-link text-white">Pricing</a></li>
                <li class="nav-item mx-1"><a href="#" :id="[loggedIn ? 'active':'']"
                        class="nav-link text-white">FAQs</a></li>
                <li class="nav-item mx-1 me-3" v-if="!loggedIn"><a href="" :id="[loggedIn ? 'active':'']"
                        @click="window.location.href='http://127.0.0.1:5000/login'"
                        class="nav-link text-white">Login</a>
                <li class="nav-item mx-1 me-3" v-else><a href="#" :id="[loggedIn ? 'active':'']" @click="logout()"
                        class="nav-link text-white">Logout</a>
                </li>
            </ul>
        </header>